<body>
    <div class="footer-container">
        <div class="footer-icons">
            <a href="https://github.com/bhern154?tab=repositories" target="_blank" class="footer-icon">
                <img src="images/github.png">
            </a>
            <a href="https://www.linkedin.com/in/bhern124" target="_blank" class="footer-icon">
                <img src="images/linkedin.png">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100003095299372" target="_blank" class="footer-icon">
                <img src="images/facebook.png">
            </a>
        </div>
        <div class="footer-info">
            <p>created by Brian Hernandez</p>
        </div>
    </div>
</body>