
<body>
    <div class="navbar-wrapper">
        <nav>
            <!-- <a href="/">Home</a> -->
            <a href="/index.html">
                <img
                    class="nav-icon"
                    src="/icons/home-filled.png"
                    data-icon="/icons/home-outline.png"
                    data-icon-active="/icons/home-filled.png"
                    alt="Home Icon"
                />
                <span class="nav-text">Home</span>
            </a>
            <a href="/work.html">
                <img
                    class="nav-icon"
                    src="/icons/work-outline.png"
                    data-icon="/icons/work-outline.png"
                    data-icon-active="/icons/work-filled.png"
                    alt="Home Icon"
                />
                <span class="nav-text">Work</span>
            </a>
            <a href="/projects.html">
                <img
                    class="nav-icon"
                    src="/icons/projects-outline.png"
                    data-icon="/icons/projects-outline.png"
                    data-icon-active="/icons/projects-filled.png"
                    alt="Home Icon"
                />
                <span class="nav-text">Projects</span>
            </a>
            <a href="/digitaldesign.html">
                <img
                    class="nav-icon"
                    src="/icons/design-outline.png"
                    data-icon="/icons/design-outline.png"
                    data-icon-active="/icons/design-filled.png"
                    alt="Home Icon"
                />
                <span class="nav-text">Design</span></a>
            <a href="/about-me.html">
                <img
                    class="nav-icon"
                    src="/icons/about-outline.png"
                    data-icon="/icons/about-outline.png"
                    data-icon-active="/icons/about-filled.png"
                    alt="Home Icon"
                />
                <span class="nav-text">About</span>
            </a>
            <button class="toggle-btn"></button>
        </nav>
    </div>    
</body>

