body {
    background-color: var(--secondary-background-color);
}

.heading {
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
}

.accent-color-2 {
    color: var(--accent-color-2);
}

.accent-color-3 {
    color: var(--accent-color-3);
}

.accent-color-4 {
    color: var(--accent-color-4);
}

.white-color {
    color: var(--white-color);
}

.yellow-color {
    color: var(--yellow-color);
}

.sub-heading-thin {
    font-size: 18px;
}

.photo-container {
    width: 100%;
    margin: 0 auto;  /* Center the div horizontally */
    text-align: center; /* Center text inside the div */
}

.photo-container img {
    width: 100%;  /* Set image width */
    display: block;
    margin: 0 auto;  /* Center image */
}

.introduction {
    width: 100%;
    line-height: 1.2;
}

.intro-block {
    padding: 30px;
    border-radius: 0px;
    background-color: white;
    margin: 0 auto; /* Center alignment */
    /* margin-bottom: 40px; */
}

.paragraph {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-size: 14px;
    font-weight: 800;
    color: #1d1d1f;
}

.divider {
    /* width: 90%; */
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color); /* Adjust as needed */
    margin-bottom: 45px; /* Add space above and below */
    border: none;
}

/* TIMELINE CONTENT START */

.timeline-container {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--accent-color);
}

.timeline::before {
    content: "";
    position: absolute;
    width: 4px;
    background: white;
    top: 0;
    bottom: 0;
    left: 20px;
}

.timeline-item {
    position: relative;
    /* width: 80%; */
    /* max-width: 600px; */
    margin: 20px 0;
    padding: 10px;
    text-align: left;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    transform: scale(0.8);
}

.timeline-item.active {
    opacity: 1;
    transform: scale(1);
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    padding: 40px;
}

.timeline-item .dot {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.timeline-item.active .dot {
    width: 25px;
    height: 25px;
}

/* TIMELINE CONTENT END */


@media screen and (min-width: 768px) {

    .sub-heading-thin {
        font-size: 25px;
    }
    
    .sub-heading {
        font-size: 35px;
    }
    
    p {
        font-size: 30px;
    }

    .photo-container img {
        width: 350px; 
    }

    .introduction {
        line-height: 1.5;
    }

    .paragraph {
        line-height: 1.4;
        font-size: 22px;
    }

    .intro-block {
        padding: 30px 50px;
        max-width: 800px; /* Keep content from stretching too wide */
        background-color: white;
        border-radius: 25px;
    }

}