body {
    background-color: white;
}

.heading {
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    background-color: var(--secondary-background-color);
}

.accent-color-2 {
    color: var(--accent-color-2);
}

.accent-color-3 {
    color: var(--accent-color-3);
}

.accent-color-4 {
    color: var(--accent-color-4);
}

.sub-heading-thin {
    font-size: 18px;
}

.introduction {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif; 
    line-height: 1.4;
    font-size: 18px;
    font-weight: 800;
    color: #1d1d1f;
    padding: 20px 30px;
    text-align: center;
    margin: 0px;
    background-color: var(--secondary-background-color);
}




/* CODE FOR DIGITAL DESIGN NAVIGATION START */

/* Sticky wrapper */
.digital-design-nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--secondary-background-color);
  border-bottom: 4px solid white;
  overflow-x: auto;
}

/* Horizontal scroll */
.digital-design-nav {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
  gap: 2px;
  /* padding: 0.5rem 1rem; */
}

/* Hide scrollbar in WebKit browsers */
.digital-design-nav::-webkit-scrollbar {
  display: none;
}

/* Scoped anchor styling */
.digital-design-nav > a {
  width: auto;      /* override 40px */
  flex: 0 0 auto;   /* prevent flex-grow/shrink */
  display: inline-block;
  max-height: fit-content;
  padding: 7px 15px;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: 800;
  background-color: black;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  border-radius: 30px;
}

/* Hover effect */
.digital-design-nav > a:hover {
  background-color: var(--accent-color-2);
}

/* CODE FOR DIGITAL DESIGN NAVIGATION END */

.gallery-container {
    /* padding: 20px; */
    max-width: 1200px;
    margin: 0 auto;
    background-color: white !important;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 0px;
    column-gap: 4px;
    background-color: white !important;
}

/* .gallery-item {
} */

.gallery-item img {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
}

/* Highlight active nav item */
.digital-design-nav a.active {
    background-color: var(--accent-color-2);
}



@media screen and (min-width: 768px) {

    .introduction {
        line-height: 1.4;
        font-size: 30px;
    }

    .digital-design-nav {
        justify-content: center;
    }

}